<form class="stress-dialog">
  <div class="form-group">
    <label>{{localize 'UA3E.StressGauge'}}</label>
    <select name="gauge">
      <option value="violence">{{localize 'UA3E.GaugeViolence'}}</option>
      <option value="helplessness">{{localize 'UA3E.GaugeHelplessness'}}</option>
      <option value="theUnnatural">{{localize 'UA3E.GaugeUnnatural'}}</option>
      <option value="isolation">{{localize 'UA3E.GaugeIsolation'}}</option>
      <option value="self">{{localize 'UA3E.GaugeSelf'}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>{{localize 'UA3E.HardenedNotches'}}</label>
    <input type="number" name="hardened" value="0" min="0" max="9" />
  </div>
  <div class="form-group">
    <label>{{localize 'UA3E.Stability'}}</label>
    <input type="number" name="stability" value="50" min="0" max="100" />
  </div>
</form>